<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../public/css/home_user.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../public/img/logo.png">
                    <h2><span>coinclip</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-outlined">close</span>
                </div>
            </div>
            
            <div class="sidebar">
                <a href="/user/home" class="active">
                    <span class="material-symbols-outlined">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">add_circle</span>
                    <h3>Entradas</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">do_not_disturb_on</span>
                    <h3>Saídas</h3>
                </a>
                <a href="/user/profile">
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <h3>Configurações</h3>
                </a>
                <a href="/user/transacoes">
                    <span class="material-symbols-outlined">add_shopping_cart</span>
                    <h3>Adicionar Lançamento</h3>
                </a>
                <a href="/user/logout">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>Sair</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>Dashboard</h1>

            <div class="date">
                <input type="date">
            </div>

            <div class="insights">
                <div class="balance">
                    <span class="material-symbols-outlined">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Balanço</h3>
                            {{#if balance}}
                                <h1>R${{ balance }},00</h1>
                            {{else}}
                                <h1>R$0,00</h1>
                            {{/if}}
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>100%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>

                <div class="incomes">
                    <span class="material-symbols-outlined">trending_up</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Entradas</h3>
                            <h1>{{positiveTotal}}</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                {{#if incomePercentage}}
                                    <p>{{incomePercentage}}%</p>
                                {{else}}
                                    <p>0%</p>
                                {{/if}}
                            
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>

                <div class="expenses">
                    <span class="material-symbols-outlined">trending_down</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Gastos</h3>
                            <h1>{{negativeTotal}}</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">

                                {{#if expensePercentage}}
                                    <p>{{expensePercentage}}%</p>
                                {{else}}
                                    <p>0%</p>
                                {{/if}}
                                
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
            </div>

            <div class="orders">
                <h2>Lançamentos Recentes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if data_transactions }}
                       
                            {{#each data_transactions}}
                                <tr>
                                    <td>{{dataValues.name}}</td>
                                    <td>{{dataValues.description}}</td>
                                    <td>R${{dataValues.value}}</td>
                                    <td class="primary">Detalhes</td>
                                </tr>
                            {{/each}}

                        {{else}}
                            <tr>
                                <td colspan="4">Nenhum lançamento encontrado</td>
                            </tr>
                        {{/if}}
                        {{!-- {{#each data_transactions_in}}                         //Para usar no Entradas e saídas
                            <tr>                                                     //data_transactions_in só tem os lançamento com valor positivo e 
                                <td>{{dataValues.name}}</td>                         //data_transactions_out só tem os lançamento com valor negativo
                                <td>{{dataValues.description}}</td>
                                <td>R${{dataValues.value}}</td>
                                <td class="primary">Detalhes</td>
                            </tr>
                        {{/each}}
                        {{#each data_transactions_out}}
                            <tr>
                                <td>{{dataValues.name}}</td>
                                <td>{{dataValues.description}}</td>
                                <td>R${{dataValues.value}}</td>
                                <td class="primary">Detalhes</td>
                            </tr>
                        {{/each}} --}}
                    </tbody>
                </table>
                 <a href="#">Mostrar mais</a>
            </div>
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-button">
                    <span class="material-symbols-outlined">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-outlined active">light_mode</span>
                    <span class="material-symbols-outlined">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Olá, <b>{{user.dataValues.name}}</b></p>
                        {{#ifRole user 'admin'}}
                            <small class="text-muted">Administrador</small>
                        {{else}}
                            <small class="text-muted">Cliente</small>
                        {{/ifRole}}
                    </div>
                    <div class="profile-photo">
                        <img src="../public/img/photo.png" alt="">
                    </div>
                </div>
            </div>

            <div class="investor">
                <h2>Mercado de Ações</h2>
                {{#if data}}
                    {{#each data}}
                        <div class="item">
                            <div class="icon">
                                {{#if (gt changesPercentage 0)}}
                                    <span class="material-symbols-outlined success">arrow_upward</span>
                                {{else}}
                                    <span class="material-symbols-outlined danger">arrow_downward</span>
                                {{/if}}
                            </div>
                            <div class="right">
                                <div class="info">
                                    <h3>{{symbol}}</h3>
                                    <small class="text-muted">Últimas 24 horas</small>
                                </div>
                                {{#if (gt changesPercentage 0)}}
                                    <h5 class="success">{{changesPercentage}}</h5>
                                {{else}}
                                    <h5 class="danger">{{changesPercentage}}</h5>
                                {{/if}}
                                <h3>{{price}}</h3>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <p>No data available.</p>
                {{/if}}
                
                <div class="item add-stock">
                    <span class="material-symbols-outlined">add</span>
                    <h3>Adicionar Ação</h3>
                </div>
            </div>
        </div>
    </div>
    <script>
        const themeToggler = document.querySelector(".theme-toggler");

        //change theme
        themeToggler.addEventListener('click', ()=>{
            document.body.classList.toggle('dark-theme-variables');
            themeToggler.querySelector('span:nth-child(1)').classList.toggle('active');
            themeToggler.querySelector('span:nth-child(2)').classList.toggle('active');
        })
    </script>
</body>
</html>

